.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column h3{
    margin: 0px 0px 0px 15px;
    display: flex;
    margin-left: 12px;
    font-family: monospace;
}
.column img{
    height: 15px;
}
.buttonSearch{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonSort{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 60px;
}